@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  padding: 0px !important;
}
.footer {
  height: 60px !important;
}
.footer p {
  line-height: 60px;
}
.search-container input {
  border-radius: 0px;
  height: 49px;
  border: 2px solid black;
}
.card-container .card {
  border-radius: 0px;
  cursor: pointer !important;
  border: none !important;
}
.card-container .card-body {
  padding: 0px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #000;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
}
.card-container .card:hover .overlay {
  opacity: 0.8;
}
.cart-buttons button 
{
  border-radius: 0px;
}
.details-text
{
  text-align: justify;
}
.detail-image img
{
  width: 300px;
  height: 400px;
}